*.log
*.o
*.so*
C++/vex_to_sky2/ell_coord_converter
FORTRAN/IRI/iritest
FORTRAN/IRI/iritestne
FORTRAN/IRI/make_ap
FORTRAN/PIM/PIM_1.7/cgmdb/install
FORTRAN/PIM/PIM_1.7/llfdb/form/llftounf
FORTRAN/PIM/PIM_1.7/llfdb/install
FORTRAN/PIM/PIM_1.7/llfdb/utils/llftounf
FORTRAN/PIM/PIM_1.7/lmedb/form/lmetounf
FORTRAN/PIM/PIM_1.7/lmedb/install
FORTRAN/PIM/PIM_1.7/lmedb/utils/lmetounf
FORTRAN/PIM/PIM_1.7/mlfdb/form/mlftounf
FORTRAN/PIM/PIM_1.7/mlfdb/install
FORTRAN/PIM/PIM_1.7/mlfdb/utils/mlftounf
FORTRAN/PIM/PIM_1.7/noaa_dat/install
FORTRAN/PIM/PIM_1.7/pim/source/vlb4/pim_asub
FORTRAN/PIM/PIM_1.7/pim/source/vlb4/pim_asub2
FORTRAN/PIM/PIM_1.7/ursidb/form/ursistod
FORTRAN/PIM/PIM_1.7/ursidb/install
FORTRAN/PIM/PIM_1.7/ursidb/utils/ursistod
FORTRAN/PIM/PIM_1.7/usudb/form/usutounf
FORTRAN/PIM/PIM_1.7/usudb/install
FORTRAN/PIM/PIM_1.7/usudb/utils/usutounf

albus_report*
acceptance_tests/.output